

.side-drawer{
    height: 100%;
    background-color: var(--clr-light);
    -webkit-box-shadow: 2px 0 7px rgba(0,0,0,0.5);
            box-shadow: 2px 0 7px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.5s ease-out;
    transition: -webkit-transform 0.5s ease-out;
    -o-transition: transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
    transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}
.side-drawer ul{
    height: 100%;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 40px;
}

.fa.fa-play-circle-o{
    font-size: 40px;
    color: rgb(0, 192, 192);
}
.side-drawer li{
    margin: 0.5rem 0;
    font-size: 1.2rem;
    color: var(--clr-primary);
}
.side-drawer li:hover,
.side-drawer li:active{
    color: var(--clr-accent);
    cursor: pointer;
}
.side-drawer.open{
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
}


@media (min-width: 768px){
    .side-drawer{
        display: none;
    }
}