
.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
  
}


.slides {
  position: relative;
}
.slick-prev:before, .slick-next::before{
    color: #02c2b8;
    font-size: 40px;
}
.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index:1;
}

.slides .slick-prev {
  left: 5%;
}

.slides .slick-next {
  right: 5%;
}
.slider-image{
    width: 100%;
    height: 80vh;
}